[Desktop Entry]
Version=1.0
Type=Application
Name=Multiplex
Comment=Synchronized torrent streaming for distributed watch parties.
Exec=multiplex
Icon=com.pojtinger.felicitas.Multiplex
Categories=AudioVideo;Video
