[Desktop Entry]
Version=1.0
Type=Application
Name=Vintangle
Comment=Synchronized torrent streaming for distributed watch parties.
Exec=vintangle
Icon=com.pojtinger.felicitas.Vintangle
Categories=AudioVideo;Video;Network
