[Desktop Entry]
Version=1.0
Type=Application
Name=Vintangle
Comment=Synchronized torrent streaming for distributed watch parties.
Exec=vintangle-gui
Icon=com.pojtinger.felicitas.vintangle
Categories=AudioVideo;Video;Network