.tabular_nums {
  font-variant-numeric: tabular-nums;
}

.rounded_corners {
  padding: 8px;
  border-radius: 8px;
}

.large_spinner {
  min-height: 40px;
}

.preparing_progress_bar text {
  margin-bottom: 4px;
}
