.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.rounded-corners {
  padding: 8px;
  border-radius: 8px;
}

.large-spinner {
  min-height: 40px;
}

.preparing-progress-bar text {
  margin-bottom: 4px;
}
